<!doctype html>
<html lang="en">
  <head>
    <title>Boxen</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <link rel="prefetch" href="<%= asset_pack_path 'application.css' %>" />

    <%#= stylesheet_pack_tag "vendor" %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <%= app_meta %>

    <%= javascript_pack_tag "manifest" %>
    <%= javascript_pack_tag "vendor" %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
